<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" 
>
<head>
<meta charset="UTF-8" ></meta>
<title>Web Project Vedovato - Wong</title>
</head>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="css/web_project_css.css" rel="stylesheet" media="screen" />
<body id="background" onload="init()">

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/Javascript_web_project.js"></script>

	<div class="modal hide fade" id="connexion_modal">
		<div class="modal-header ">
			<h3>Page de connexion</h3>
		</div>
		<h:form prependId="false">
			<div class="modal-body">
				<fieldset style="text-align: center;">
					<legend>Bienvenue</legend>
					<label id="notification"></label> 
					<h:inputText class="input-medium center" name="name_login" value="#{login.getUser().name}" id="id_connexion" emptyMessage="indiquer votre nom..."></h:inputText>
					<span class="help-block"></span> 
					<h:inputSecret class="input-medium" name="password_login" value="#{login.getUser().password}" id="password_connexion" placeholder="indiquer votre password ..."></h:inputSecret>
					<span class="help-block"></span>
					<div>
						<label style="text-align: center;" id="memory_checkbox" class="checkbox"> 
							<input type="checkbox" style="float: none;" /> Se rappeler de moi 
						</label>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-info" onclick="push_new_user()" value="Creation de compte "/>
				<input type="button" class="btn btn-danger" value="Fermer" />
				<h:commandButton   class="btn btn-success" onclick="push_button_connect()"  action="#{login.login()}" value="Connexion"></h:commandButton>
			</div>
		</h:form>
	</div>
	<div class="modal hide fade" id="new_user_modal">
		<h:form prependId="false">
			<div class="modal-header ">
				<h3>Inscription</h3>
			</div>
			<div class="modal-body">
					<fieldset style="text-align: center;">
						<legend>Bienvenue - Inscription</legend>
						<div class="input-prepend" >
							<span class="add-on"><i class="icon-user icon-white"></i></span>
							<h:inputText class="input-medium center" id="id_inscription" onblur="validateinscription()" type="text" value="#{login.name}" placeholder="indiquer votre nom..." />
						</div>
						<span id="message_inscription" class="help-block"></span>
	
						<div class="input-prepend">
							<span class="add-on">@</span> 
							<h:inputText class="input-medium center" type="text" id="mail_inscription" onblur="validateinscription();adresseMailFormat();" value="#{login.mail}" placeholder="indiquer votre e-mail..." />
						</div>
	
						<span id="message_error_password" class="help-block"></span> 
						<h:inputSecret class="input-medium" type="password" id="password_inscription" onblur="validateinscription();" onkeyup="verifypasswordlength();" value="#{login.password}" placeholder="indiquer votre password ..." />
							<span class="help-block"> Votre password doit faire plus de 6 caracteres</span> 
							<h:inputSecret class="input-medium" type="password" id="password_valid_inscription" onblur="verifytwopassword();validateinscription();" value="#{login.passwordVerification}" placeholder="indiquer votre password ..." />
							<span class="help-block"> Ré-écrivez votre password svp ... </span>
						<div>
							<span class="help-block" id="info"> </span>
						</div>
					</fieldset>
			</div>
			<div class="modal-footer">
				<input type="button" onclick="closeSubscriptionBox();" class="btn btn-danger" value="Fermer" />
				<h:commandButton class="btn btn-success" id="valid_button" onclick="push_button_valid_new_user()" action="#{login.inscription}" value="Validez"/>
			</div>
		</h:form>
	</div>
</body>
</html>