<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<head>
		<meta charset="UTF-8"></meta>
		<title>Web Project Vedovato - Wong</title>
	</head>
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="css/web_project_css.css" rel="stylesheet" media="screen" />	
	<body id="background" onload="init()">		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/Javascript_web_project.js"></script>
		<div id="acceuil-page">
			<div id="zone_bouton">
				<div id="columns">
					<c:forEach var="button" items="#{panelControl.panel.caseList}"> 
						<a href="#{button.url}">
							<header>
								<div id="bouton1" style="background-color: #{button.backgroundClass}" class="column  #{button.backgroundSelectedClass}" draggable="true" ondragstart="return dragStart(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)">
									<h:outputText style="font-size: #{button.fontsize}px" value="#{button.title}"></h:outputText>
									<div id="bouton1_zone_modif" class=" hide ">
										<button onclick="change_bouton('bouton1')" id="bouton_modif_1" class="btn btn-info" style="right:1px;" type="button">
											<i class="icon-wrench"></i>
										</button> 
									</div>
								</div>
							</header>
						</a>
					</c:forEach>
				</div>
			</div>
		</div>
		<div id="botpage">
			<a href="./Param_bouton.xhtml" id="tool_button" onclick="push_button_tool()" class="btn btn-infos"><i class="icon-wrench"></i></a>
		</div>
	</body>
</html>