<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="css/web_project_css.css" rel="stylesheet" media="screen" />
	<body>
	<head>
		<title>Paramétrage des boutons</title>
	</head>
		<script src="js/jquery.js"></script>
		<script src="js/Javascript_web_project.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<div>
			<div>	
				<h3>Paramétrage des boutons</h3>
				<div id="menu">
				</div>
			</div>
		</div>
		<h:form> 
			<div>
				<c:forEach var="button" items="#{panelControl.panel.caseList}"> 
					<div id="body-parameter_bouton" >
					<div onclick="showFormButton(this)"><legend>Bouton #{button.title}</legend></div> 
					<div id="formButton">
						<div id="example">
								<div id="boutonExample" class="column">
									<div id="boutonText" >#{button.title}</div>
								</div>
						</div>
						<fieldset style="text-align:center;">
							
							<div class="input-prepend">
								<legend>Liens</legend>
								<span class="add-on">Url</span>
								<h:inputText class="input-medium center"  value="#{button.url}" id="url_bouton" placeholder="indiquer l'url de votre site..." />
								<h:inputText class="input-medium center"  id="label_bouton"  value="#{button.title}" onchange="setTextExample(this)" placeholder="texte à rajouter" />	
								<h:selectOneMenu value="#{button.fontsize}" onchange="changeSizeTextExample(this)">
									<f:selectItem itemValue="6" itemLabel="6" />  
									<f:selectItem itemValue="8" itemLabel="8" />  
									<f:selectItem itemValue="12" itemLabel="12" />  
									<f:selectItem itemValue="16" itemLabel="16" />  
									<f:selectItem itemValue="22" itemLabel="22" />  
									<f:selectItem itemValue="26" itemLabel="26" />  
								</h:selectOneMenu>
							</div>
							<br/>
							<div class="input-prepend">
								<legend>Couleur de selection</legend>
								<h:selectOneMenu  id="ListeElement_colorselect_bouton" value="#{button.backgroundSelectedClass}" onchange="setExampleSelectedColor(this)" >
									<f:selectItem itemValue="bg-color-green" itemLabel="vert" />  
									<f:selectItem itemValue="bg-color-greenDark" itemLabel="vert foncé" />  
									<f:selectItem itemValue="bg-color-greenLight" itemLabel="vert clair" />  
									<f:selectItem itemValue="bg-color-magenta" itemLabel="magenta" />  
									<f:selectItem itemValue="bg-color-pink" itemLabel="rose" />  
									<f:selectItem itemValue="bg-color-pinkDark" itemLabel="rose foncé" />  
									<f:selectItem itemValue="bg-color-yellow" itemLabel="jaune" />  
									<f:selectItem itemValue="bg-color-darken" itemLabel="noir" />  
									<f:selectItem itemValue="bg-color-purple" itemLabel="violet" />  
									<f:selectItem itemValue="bg-color-teal" itemLabel="cyan" />  
									<f:selectItem itemValue="bg-color-blue" itemLabel="bleu" />  
									<f:selectItem itemValue="bg-color-Darkblue" itemLabel="bleu foncé" />  
									<f:selectItem itemValue="bg-color-blueLight" itemLabel="bleu clair" />  
									<f:selectItem itemValue="bg-color-orange" itemLabel="orange" />  
									<f:selectItem itemValue="bg-color-Darkorange" itemLabel="orange foncé" />  
									<f:selectItem itemValue="bg-color-red" itemLabel="rouge" />  
									<f:selectItem itemValue="bg-color-Lightred" itemLabel="rouge clair" />  
								</h:selectOneMenu>
							</div>
							<br/>
							<div class="input-prepend">
								<legend>changer la couleur du background</legend>
								<h:selectOneMenu  id="ListeElement_BGcolor_bouton" value="#{button.backgroundClass}" onchange="setExampleColor(this)">
									<f:selectItem itemValue="green" itemLabel="vert" />  
									<f:selectItem itemValue="Darkgreen" itemLabel="vert foncé" />  
									<f:selectItem itemValue="Lightgreen" itemLabel="vert clair" />  
									<f:selectItem itemValue="magenta" itemLabel="magenta" />  
									<f:selectItem itemValue="pink" itemLabel="rose" />  
									<f:selectItem itemValue="Darkpink" itemLabel="rose foncé" />  
									<f:selectItem itemValue="yellow" itemLabel="jaune" />  
									<f:selectItem itemValue="Dark" itemLabel="noir" />  
									<f:selectItem itemValue="purple" itemLabel="violet" />  
									<f:selectItem itemValue="teal" itemLabel="cyan" />  
									<f:selectItem itemValue="blue" itemLabel="bleu" />  
									<f:selectItem itemValue="Darkblue" itemLabel="bleu foncé" />  
									<f:selectItem itemValue="blueLight" itemLabel="bleu clair" />  
									<f:selectItem itemValue="orange" itemLabel="orange" />  
									<f:selectItem itemValue="Darkorange" itemLabel="orange foncé" />  
									<f:selectItem itemValue="red" itemLabel="rouge" />  
									<f:selectItem itemValue="Lightred" itemLabel="rouge clair" />  
								</h:selectOneMenu>
							</div>
							
							<h:commandButton value="Delete" action="#{panelControl.deleteButton(button)}"></h:commandButton>
						</fieldset>
					</div>
					</div>
				</c:forEach>
			</div>
			<div  class="modal-footer">
				<h:commandLink class="btn btn-danger" type="button" value="Déconnexion" action="#{login.disconnect}"></h:commandLink>		
				<a href="index.xhtml" class="btn btn-danger">Retour</a> 
				<h:commandButton id="valid_button" onclick="push_button_valid_new_user()" action="#{panelControl.editButton}" class="btn btn-success" value="Validez" />
			</div>	
		</h:form>
	</body>
</html>