#background
{
	background-color:#094AB2;
}

#acceuil-page
{
	margin-top:5%;
	margin-bottom:5%;
}

#zone_bouton{
  height: 400px;
  width: 1700px;
  
  margin : 10% 10% 


}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.column {

  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin: 15px 30px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
  
}

.border-red:hover{

}

.column.over {
  border: 2px dashed #000;
}

.

#section_left
{
	background-color:#008287;
	float: left;
	width: 30%

}

#section_right
{
	background-color:#008287;
	float: right;
	width: 30%
}

#header
{
	background-color:#FF981D;
	height:#9E165B;
}
/* outline bouton color window metro   */

.outline-color-blue:hover {
  outline-color: #2d89ef !important;
}
.outline-color-blueLight {
  outline-color: #eff4ff !important;
}
.outline-color-blueDark {
  outline-color: #2b5797 !important;
}
.outline-color-green {
  outline-color: #00a300 !important;
}
.outline-color-greenLight {
  outline-color: #99b433 !important;
}
.outline-color-greenDark {
  outline-color: #1e7145 !important;
}
.outline-color-red {
  outline-color: #b91d47 !important;
}
.outline-color-yellow {
  outline-color: #ffc40d !important;
}
.outline-color-orange {
  outline-color: #e3a21a !important;
}
.outline-color-orangeDark {
  outline-color: #da532c !important;
}
.outline-color-pink {
  outline-color: #9f00a7 !important;
}
.outline-color-pinkDark {
  outline-color: #7e3878 !important;
}
.outline-color-purple {
  outline-color: #603cba !important;
}
.outline-color-darken {
  outline-color: #1d1d1d !important;
}
.outline-color-lighten {
  outline-color: #d5e7ec !important;
}
.outline-color-white {
  outline-color: #ffffff !important;
}
.outline-color-grayDark {
  outline-color: #525252 !important;
}
.outline-color-magenta {
  outline-color: #ff0097 !important;
}
.outline-color-teal {
  outline-color: #00aba9 !important;
}
.outline-color-redLight {
  outline-color: #ee1111 !important;
}
/* background color window metro    */
.bg-color-blue:hover,.bg-color-blue1 {
  background-color: #2d89ef !important;
}
.bg-color-blueLight:hover,.bg-color-blueLight1 {
  background-color: #eff4ff !important;
}
.bg-color-blueDark:hover.bg-color-blueDark1 {
  background-color: #2b5797 !important;
}
.bg-color-green:hover,.bg-color-green1 {
  background-color: #00a300 !important;
}
.bg-color-greenLight:hover,.bg-color-greenLight1 {
  background-color: #99b433 !important;
}
.bg-color-greenDark:hover,.bg-color-greenDark1 {
  background-color: #1e7145 !important;
}
.bg-color-red:hover,.bg-color-red1 {
  background-color: #b91d47 !important;
}
.bg-color-yellow:hover,.bg-color-yellow1 {
  background-color: #ffc40d !important;
}
.bg-color-orange:hover {
  background-color: #e3a21a !important;
}
.bg-color-orangeDark:hover {
  background-color: #da532c !important;
}
.bg-color-pink:hover {
  background-color: #9f00a7 !important;
}
.bg-color-pinkDark:hover,.bg-color-pinkDark1 {
  background-color: #7e3878 !important;
}
.bg-color-purple:hover,.bg-color-purple1 {
  background-color: #603cba !important;
}
.bg-color-darken:hover,.bg-color-darken1 {
  background-color: #1d1d1d !important;
}
.bg-color-lighten:hover,.bg-color-lighten1 {
  background-color: #d5e7ec !important;
}
.bg-color-white:hover,.bg-color-white1 {
  background-color: #ffffff !important;
}
.bg-color-grayDark:hover,.bg-color-grayDark1 {
  background-color: #525252 !important;
}
.bg-color-magenta:hover,.bg-color-magenta1 {
  background-color: #ff0097 !important;
}
.bg-color-teal:hover,.bg-color-teal1 {
  background-color: #00aba9 !important;
}
.bg-color-redLight:hover,.bg-color-redLight1 {
  background-color: #ee1111 !important;
}
.body-parameter_bouton

.formButton > input,a{
	text-align:center;
}
#body-parameter_bouton > div{
	cursor: pointer;
}
#formButton{
	display:none;
}

.input-prepend > *{
	text-align: center;
}

#formButton .input-prepend{
	clear: both;
}
